#container {
    display: flex;
    justify-content: center;
    width: 60%;
}

.divider {
    height: 1px;
    margin: 10px 0;
    background-color: lightgray;
}

@media (max-width: 1000px) {
    #container {
        flex-direction: column;
        width: 100%;
    }
}
